html, body {
    height: 100%;
    overflow: auto;
}

.body-login {
    min-height: 100vh; /* This ensures that the container takes at least the height of the viewport */
    flex-direction: column; /* Assuming you're using flexbox */
    justify-content: flex-start; /* Adjust content alignment to start from the top */
}
#amount_of_share::-webkit-outer-spin-button,
#amount_of_share::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
#amount_of_share[type=number] {
    -moz-appearance: textfield;
}